// COLORS
$primary-color: #7b3aa6;
$secondary-color: #904abf;
$secondary-bright-color: #adf6b1;
$blue-gray-color: #6c91bf;
$dark-color: #232020;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #777777;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
